apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "springboot-helloworld.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "springboot-helloworld.name" . }}
    helm.sh/chart: {{ include "springboot-helloworld.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "springboot-helloworld.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "springboot-helloworld.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app: {{ include "springboot-helloworld.name" . }}
        version: v1
    spec:
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
      - name: {{.Values.image.pullSecrets }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              #protocol: TCP
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: {{ .Values.service.healthPort }}
            initialDelaySeconds: 10
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: {{ .Values.service.healthPort }}
            initialDelaySeconds: 10
            periodSeconds: 3
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
